  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@200&display=swap');


/*  CSS Index 

1. "Global Features"
2. "Authentication Interface"
3. "To Do Interface"
4. "Modal Interface"
5. "Media Queries"

*/


/* -------------- Global Features ----------------- */

body{

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 62.5%;
}

.app{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../public/background.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
   
}

.main-card{
    margin-top: 4rem;
    height: 40vh;
}


/* ------------- Authentication Interface -------------- */


.logo-container{
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
}

.logo{
    margin-top: -3.5rem;
    width: 18rem;
}

.auth-container{
    display: flex;
    justify-content: center;
}z

.auth-container-box{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

.auth-container-box form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-top: -5rem;
}

.auth-options {
    display: flex;
    margin-bottom: 5rem;
}

.auth-options button{
    width: 50%;
    border: none;
    padding: 10px;
    border-radius: 50px;
    color: rgb(4, 4, 4);
    background-color: transparent;
    font-size: 1.1rem;
    
}

.auth-options button:hover{
    cursor: pointer;
}



/* ---------------- To Do Interface ------------------- */

.todo_list{

    width: 75vw;
    height: 50vh;
    overflow: scroll;
}


.title{
    text-align: center;
    margin-top: -2rem;
    margin-bottom: 5rem;
}

.task-title{
    font-size: 1.25rem;
}

.button-container{
    margin-right: 1rem;
}

.checkbox{

    margin-right: 1rem;
    
}




.button-container, .info-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

.button-container button{
    margin: 0 5px;
    padding: 10px 20px;
    font-size: .75rem;
    border-radius: 25px;
}


.edit{
    border: .5px solid rgb(22, 34, 25);
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.edit:active, .delete:active, .create:active{
    color: white;
}


.edit:hover{
    background-color: rgb(197, 232, 205);
    cursor: pointer;
}

.delete{

    border: .5px solid rgb(91, 7, 7);;
    color: rgb(91, 7, 7);;
    text-transform: uppercase;

}


.delete:hover{
    background-color: rgb(248, 201, 201);
    cursor: pointer;
}

.create{

    width: 15rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: none;
    border-radius: 50px;
    border: none;
    text-transform: lowercase;

}

.create:hover{

    border: .5px solid black;
    cursor: pointer;
}

.add{
    background-color: white;
    color: rgb(0, 0, 0);
    border: none;
}

.add:hover{
    cursor: pointer;
}

.signout{
    
    color: rgb(4, 4, 4);
    border: none;
    background-color: white;
}

.signout:hover{
    cursor: pointer;
}

.signout:active{
    color: white;
}

.input{

    margin: 11px 0;
    padding: 19px 90px 15px 20px;
    border: none;
    border-radius: 50px;
}



.list-header{

    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: rgba(0, 0, 0, 0.05) 1px solid;
}

.list-header h1{
    margin-right: 18rem;
    justify-content: center;
}

.list-item{

    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Raleway', sans-serif;
    overflow: scroll;
    border-radius: 50px;
    padding-left: 2rem;
}

.user-email{
    font-size: 1rem;
    margin-bottom: 3rem;
}

.bold{
    font-weight: bold;
}

.tick{
    padding: 10px;
}

.tick path{
    fill: none;
    stroke: #000;
    stroke-miterlimit:10;
    stroke-width: 32px; 
}

/* -------------------- Modal Interface -------------------- */ 

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    width: 500px;
    background-color: rgb(255,255,255);
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

.modal .form-title-container{
    display: flex;
    justify-content: space-between;
}

.modal .form-title-container button{
    border: none;
    background-color: transparent;
}

.modal .form-title-container button:active{
    color: rgb(255, 50, 50);
}

.modal form{
    display: flex;
    flex-direction: column;
}

.modal label{
    font-size: 13px;
}


/* ------------------- Task Progress Bar --------------------*/ 

.outer-bar{
    width: 200px;
    height: 14px;
    background-color: rgb(83, 83, 83);
    border-radius: 7px;
    overflow: hidden;
}

.inner-bar{
    height: 14px;
}


/* -------------------- Media Queries -------------------- */ 


@media screen and (max-width: 600px){



    .app{
        padding-left: 1rem;
        padding-right: 1rem;

    }

    .todo_list{

        width: 80vw;
        overflow: visible;
    }

    .task-title{
        font-size: 1rem;
    }

    .list-header{

    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: rgba(0, 0, 0, 0.05) 1px solid;
    font-size: 130%;

    }

    .list-header h1{
    margin-right: 3rem;
    }

    .user-email{
    font-size: .85rem;
    text-align: left;
    }

    .info-container{
        margin-right: rem;
    }

    .button-container button{
        margin: 0 5px;
        padding: 5px 10px;
        font-size: .75rem;
        border-radius: 25px;
    }


}


